version: "3"
services:

  kafka:
    container_name: kafka
    hostname: kafka
    image: apache/kafka:4.1.1
    ports:
      - "9092:9092"

    environment:
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092,EXTERNAL://localhost:9092'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_LISTENERS: 'INTERNAL://kafka:29092,CONTROLLER://kafka:29093,EXTERNAL://0.0.0.0:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_BROKER_ID: 1
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      
      # Make default replication factor for topic: __consumer_offsets to be 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-streams-app:
    image: tsuz/microservice-for-kafka:latest
    ports:
      - "7001:7001"
      - "7777:7777"
    environment:
      CONFIG_PATH: /app/config/config.yaml
      JAVA_OPTS: "-javaagent:/app/monitoring/jmx_prometheus_javaagent-1.0.1.jar=0.0.0.0:7777:/app/monitoring/kafka_streams.yml"
    volumes:
      - ./configuration/config.yaml:/app/config/config.yaml
      - ./monitoring:/app/monitoring
    depends_on:
      - kafka
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - kafka-streams-app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
      
volumes:
  prometheus-data:
  grafana-data:
